[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.92.0"
uvicorn = "~=0.17.6"
pydantic = "~=1.10.0"
requests = "~=2.28.1"
openpyxl = "~=3.0.10"
dict2xml = "~=1.7.1"
GitPython = "~=3.1.27"
Deprecated = "~=1.2.13"
hypothesis = "~=6.54.4"
python-jose = "~=3.3.0"
python-dateutil="~=2.8.2"
neomodel="~=5.1.0"
Jinja2="~=3.1.2"
yattag = "~=1.14.0"
python-docx = "~=0.8.11"
colour = "~=0.1.5"
authlib = "~=1.1.0"
httpx = "~=0.23.0"
starlette-context = "==0.3.4"
python-multipart = "~=0.0.5"
beautifulsoup4 = "~=4.11.1"
lxml = "~=4.9.1"
opencensus = "~=0.11.0"
opencensus-ext-azure = "~=1.1.7"
pyyaml = "~=6.0"
aenum = "~=3.1.11"
xsdata = "==22.9"
weasyprint = "~=57.1"
deepdiff = "~=6.2.1"
pillow = "~=9.3.0"
asyncache = "~=0.3.1"
cachetools = "~=5.3.1"

[dev-packages]
pytest = "~=7.1.2"
pytest-bdd = "~=7.0.0"
pytest-cov = "~=3.0.0"
pylint = "~=2.17.0"
flake8 = "~=5.0.4"
pep8 = "~=1.7.1"
autopep8 = "~=1.7.0"
mypy = "~=0.971"
pbr = "~=5.10.0"
rope = "~=1.3.0"
isort = "~=5.11.5"
black = "~=23.3.0"
pytest-asyncio = "~=0.19.0"
pytest-forked = "~=1.4.0"
pytest-xdist = "~=2.5.0"
parameterized = "~=0.8.1"
schemathesis = "~=3.17.5"

[requires]
python_version = "3.11"

[scripts]
dev = "uvicorn --host=0.0.0.0 --port=8000 clinical_mdr_api.main:app --reload"
prod = "uvicorn --host=0.0.0.0 --port=8000 --limit-concurrency=120 --workers=4 --loop=asyncio clinical_mdr_api.main:app"
test = "pytest -s"
dist = "python setup.py bdist_wheel"
package = "pip wheel -r requirements.txt -w dist"
testunit = "pytest -s --cov-report html:reports/coverage-unit --cov-report xml:reports/coverage.xml --cov-append --cov=clinical_mdr_api  --junitxml=reports/unit_report.xml clinical_mdr_api/tests/unit/"
testint = "pytest -s -n 4 --dist loadfile --cov-report html:reports/coverage-int --cov-report xml:reports/coverage.xml --cov-append --cov=clinical_mdr_api --junitxml=reports/int_report.xml clinical_mdr_api/tests/integration"
testauth = "pytest -s --cov-report html:reports/coverage-auth --cov-report xml:reports/coverage.xml --cov-append --cov=clinical_mdr_api --junitxml=reports/auth_report.xml clinical_mdr_api/tests/oauth/"
test-telemetry = "pytest -s --cov-report html:reports/coverage-telemetry --cov-report xml:reports/coverage.xml --cov-append --cov=clinical_mdr_api --junitxml=reports/telemetry_report.xml clinical_mdr_api/tests/telemetry/"
lint = "pylint clinical_mdr_api"
black = "python -m black clinical_mdr_api"
isort = "python -m isort clinical_mdr_api"
format = """sh -c "
    python -m isort clinical_mdr_api \
    && python -m black clinical_mdr_api \
"
"""
openapi = "python generate_openapi_json.py"
schemathesis = """
    schemathesis
        --pre-run=clinical_mdr_api.hooks.schemathesis_hooks
        run
        --checks=all
        --base-url=http://localhost:8000
        --request-timeout=30000
        --hypothesis-max-examples=10
        --hypothesis-verbosity=normal
        --hypothesis-deadline=None
        --hypothesis-suppress-health-check=too_slow,filter_too_much,data_too_large
        --junit-xml=reports/schemathesis_report.xml
        --report=reports/schemathesis_report.tgz
        --show-errors-tracebacks
        openapi.json
"""
build-sbom = "pipelines/scripts/build-sbom.sh"
schemathesis-help = "schemathesis run --help"
