[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "0.28.1"
httpx_auth = "0.23.1"

[dev-packages]

[requires]
python_version = "3.13.0"

[scripts]
build-sbom = "pipelines/scripts/build-sbom.sh"
export = "python -m export"
