// main
body {
  background-color: #012169;
}

// Colors
.nn-grey {
  background-color: rgb(var(--v-theme-dfltBackground)) !important;
}

.text-white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

// Tabs
.v-tab {
  text-transform: none !important;
}

// Cards
.v-dialog {
  .v-card {
    .v-card-title {
      padding: 20px 24px 0px;
    }
    .v-card-text {
      padding: 20px 24px;
    }
  }
}

.fixed-actions {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

// Data tables
.v-data-table-header th {
  white-space: nowrap;
}

.v-data-table__thead tr {
  white-space: nowrap;
}

.v-data-table__th {
  white-space: inherit;
  vertical-align: middle;
  padding-top: 20px !important;
  padding-bottom: 16px !important;
  background-color: rgb(var(--v-theme-nnTrueBlue)) !important;
  color: rgb(var(--v-theme-nnWhite)) !important;
  text-align: start;
  font-weight: 500;
  font-size: 12px;
  font-weight: bold !important;
}

.v-data-table__td {
  border-left-style: outset;
  border-bottom-style: outset;
  border-width: 1px !important;
  border-color: rgb(var(--v-theme-nnFadedBlue200)) !important;
}

.v-data-table {
  .v-table__wrapper {
    border: solid;
    border-color: rgb(var(--v-theme-nnFadedBlue200)) !important;
  }
}

.v-data-table {
  border-radius: 12px;
  &__wrapper {
    td {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
      vertical-align: top;
    }
  }
}

thead.v-data-table-header {
  background-color: rgba(0, 0, 0, 0.1);
}

// Fixed table header
.v-data-table > .v-table__wrapper > table > thead > tr:last-child > th {
  background: rgb(var(--v-theme-tableGray));
}

.theme--light.v-sheet.v-stepper {
  box-shadow: none !important;
}
.v-sheet.v-card {
  border-radius: 0px;
}

.v-dialog {
  border-radius: 0px;
}

// Breadcrumbs
.v-breadcrumbs-item {
  color: rgba(0, 0, 0, 0.38);
}

.v-breadcrumbs-divider {
  color: rgba(0, 0, 0, 0.38);
}

.v-toolbar__items a.v-btn:not(.v-btn--round).v-size--default {
  padding: 0 30px;
}

.v-toolbar__items .v-btn__content .v-icon {
  padding-right: 10px;
}

// Selects & inputs
.v-switch__track {
  opacity: unset;
}

.v-field__overlay {
  background-color: transparent !important;
}

.v-select-list {
  .v-list-item {
    &-active {
      background-color: rgb(var(--v-theme-nnLightBlue3));
      &::before {
        opacity: 0;
      }
    }
  }
}
.v-field--disabled {
  opacity: 0.6;
}
.v-select__selections {
  line-height: 30px;
}

.unit-select {
  margin-top: -4px;
}

.v-text-field {
  &__slot {
    min-height: 40px;
  }

  &__details {
    padding-top: 5px !important;
  }
}
.v-input {
  &--selection-controls {
    padding-top: 0px;
    margin-top: 0px;
  }

  &--radio-group {
    legend.v-label {
      font-size: 16px;
    }
  }
}

// Dialogs
.top-dialog {
  position: absolute;
  top: 50px;
}

.fullscreen-dialog {
  height: 100%;
  border-radius: 0 !important;
}

// Buttons
.secondary-btn {
  color: rgb(var(--v-theme-secondary)) !important;
}

.v-btn {
  padding: 0 16px !important;
}

// Typography
.page-title {
  color: rgb(var(--v-theme-primary)) !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  line-height: 2.5rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.page-subtitle {
  color: rgb(var(--v-theme-primary)) !important;
  font-size: 1.0rem !important;
  font-weight: bold !important;
  line-height: 2.5rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.dialog-about-title {
  color: var(--v-primary-base);
  font-size: 1.5rem !important;
  padding: 10px 10px !important;
}

.dialog-title {
  color: rgb(var(--v-theme-primary));
  font-size: 1.5rem !important;
}

.dialog-sub-title {
  margin-top: 20px;
  padding-bottom: 4px;
  font-weight: 600 !important;
}

.theme {
  &--light {
    .v-label {
      // color: var(--v-secondary-base);
    }
  }
}

.filterAutocompleteLabel {
  .v-label {
    font-size: 14px;
  }
}

.v-radio .v-label {
  color: rgba(0, 0, 0, 0.6) !important;
}

// Forms
.registry-form {
  padding-top: 100px;
}

.required .v-label:after,
label.required::after {
  content: ' *';
  color: red;
}

// Landing pages
.fullscreen-bg {
  padding: 2rem;
  margin: 0;
  color: #fff;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.box-container {
  width: 100%;
  margin: 0 auto;
}

// Confirmation dialog studies objectives
.confirmation-text-header {
  text-align: left;
}

.confirmation-text-field {
  background-color: #fff;
  height: 60px;
  text-align: left;
  padding: 5px;
}

// Quill editor
.ql-editor {
  min-height: 100px !important;
}

// Indication of changed values in version history overview
.difference {
  width: fit-content;
  padding-left: 3px;
  padding-right: 3px;
}

// Footnotes
.footnote-center {
  left: auto !important;
  right: 25%;
  top: 80px !important;
  position: fixed;
}

.v-list-item-title {
  font-size: 13px !important;
}
.v-list-item__spacer {
  width: 16px !important;
}
