$body-font-family: 'Open Sans', serif;

@use 'vuetify/settings' with (
  $body-font-family: $body-font-family,
  $card-text-font-size: 16px,
  $stepper-item-avatar-background: rgb(
      var(--v-theme-primary),
      var(--v-medium-emphasis-opacity)
    )
);
