// Globals
$body-font-family: 'Open Sans', serif;

// Cards
$card-text-font-size: 16px;

// Breadcrumbs variables
$breadcrumbs-item-font-size: 15px !important;
$breadcrumbs-disabled-color: #012169;

// Lists
$list-item-action-icon-margin: 12px !important;
$list-group-no-action-item-padding: 52px !important;

//Table headers
$data-table-regular-header-font-size: 1em;

// Table expanded rows
$data-table-expanded-content-box-shadow: none;

// Timeline
$timeline-divider-width: 48px !default;
