[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.27"
neo4j = "~=5.13"
pytest = "~=6.2"

[dev-packages]
pylint = "~=2.15"
black = "*"

[requires]
python_version = "3.11"

[scripts]
bulk_import = "python -m mdr_standards_import.scripts.wrapper.wrapper_bulk_import"
bulk_import_ct = "python -m mdr_standards_import.scripts.wrapper.cdisc_ct.wrapper_bulk_import"
bulk_import_data_models = "python -m mdr_standards_import.scripts.wrapper.cdisc_data_models.wrapper_bulk_import"
import_cdisc_ct_into_cdisc_db = "python -m mdr_standards_import.scripts.wrapper.cdisc_ct.wrapper_import_into_cdisc_db"
import_ct_from_cdisc_db_into_mdr = "python -m mdr_standards_import.scripts.wrapper.cdisc_ct.wrapper_import_from_cdisc_db_into_mdr"
import_cdisc_data_models_into_cdisc_db = "python -m mdr_standards_import.scripts.wrapper.cdisc_data_models.wrapper_import_into_cdisc_db"
import_data_models_from_cdisc_db_into_mdr = "python -m mdr_standards_import.scripts.wrapper.cdisc_data_models.wrapper_import_from_cdisc_db_into_mdr"
download_ct_json_data_from_cdisc_api = "python -m mdr_standards_import.scripts.import_scripts.cdisc_ct.download_json_data_from_cdisc_api"
download_data_models_json_data_from_cdisc_api = "python -m mdr_standards_import.scripts.import_scripts.cdisc_data_models.download_json_data_from_cdisc_api"
test = "pytest"
build-sbom = "pipelines/scripts/build-sbom.sh"
