##{{ '##' * task_level}} {{ func_title }}{% for arg in func_args %}, {{ arg[0] }} = {{ arg[1] }} {% endfor %}

Function `{{ func_name }}` defined in `{{ func_file }}`

**Description**
```markdown
{% for row in func_doc -%}
{{ row }}
{% endfor %}
```

{% if func_args %}
**Function arguments:**
{% for row in func_args -%}
- {{ row[0] }} = {{ row[1] }}
{% endfor -%}
{% endif -%}

{% if has_subtasks %}
###{{ '##' * task_level}} Subtasks
{% endif -%}




