[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
neo4j = "~=4.4"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.13.0"

[scripts]
init_neo4j = "python init_neo4j.py"
update_ct_stats = "python update_ct_stats.py"
export_to_cypher = "python export_to_cypher.py"
import_from_cypher = "python import_from_cypher.py"
build-sbom = "pipelines/scripts/build-sbom.sh"
import_reports = "python neodash/import_reports.py"
